<h1>GET MONSTER! 賃貸</h1>
<p><%= @user.name %>さんのページ</p>

<p><%= link_to "お気に入り物件", favorites_path %></p>

<%= form_tag properties_path, :method => 'get' do %> <%#　projects_pathはモデル名で読みかえること %>
  <p>
    キーワードから物件を検索 <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Search", :name => nil %>　例 :ピカチュウ
  </p>
<% end %>

<p>エリアから絞り込む</p>
  <div>
　　<%= link_to "渋谷区", properties_path %>
　　<%= link_to "千代田区", properties_path %>
　　<%= link_to "新宿区", properties_path %>
　　<%= link_to "豊島区", properties_path %>
　　<%= link_to "品川区", properties_path %>
　　<%= link_to "中央区", properties_path %>
　　<%= link_to "港区", properties_path %>
　　<%= link_to "練馬区", properties_path %>
　　<%= link_to "板橋区", properties_path %>
　　<%= link_to "台東区", properties_path %>
　　<%= link_to "江東区", properties_path %>
　　<%= link_to "葛飾区", properties_path %>
　　<%= link_to "目黒区", properties_path %>
　　<%= link_to "大田区", properties_path %>
　　<%= link_to "足立区", properties_path %><br>
　　<%= link_to "中野区", properties_path %>
　　<%= link_to "江戸川区", properties_path %>
　　<%= link_to "文京区", properties_path %>
　　<%= link_to "世田谷区", properties_path %>
　　<%= link_to "杉並区", properties_path %>
　　<%= link_to "北区", properties_path %>
　　<%= link_to "荒川区", properties_path %>
　　<%= link_to "墨田区", properties_path %>
　　
　　
　</div>　
  
  
<p><%= link_to "GET報告する", new_report_path %></p>

<p>Legend Monster通知機能</p>

