<div class="container">

<h1>GET MONSTER! </h1>
<p><%= @user.name %>さんのページ</p>


<%= form_with(model: @search_property, method: :get, url: properties_path, local: true) do |form| %>
  <%= form.label :２３区, class: 'col-1 col-form-label'%>
  <%= form.select :city, Property.cities.keys, include_blank: true, selected: '' %><br>
  <%= form.label :間取り, class: 'col-1 col-form-label'%>
  <%= form.select :floor_plan, Property.floor_plans.keys, include_blank: true, selected: '' %><br>
  <%= form.submit "Search" %>
<% end %>

<%= form_tag properties_path, :method => 'get' do %> 
  <p>
     キーワードから物件を検索 <%= text_field_tag :search, params[:search], placeholder: "半角スペースで入力　例: ピカチュウ 4LDK", :size=>"60" %>
  </p>
    <%= submit_tag "Search", :name => nil %>
<% end %>

<p>エリアから絞り込む</p>
  <div class="user-panel">
　　<%= link_to "渋谷区", city_property_path("shibuya") %>
　　<%= link_to "千代田区", city_property_path("tiyoda") %>
　　<%= link_to '新宿区', city_property_path("shinjyuku") %>
　　<%= link_to "豊島区", city_property_path("toshima") %>
　　<%= link_to "品川区", city_property_path("sinagawa") %>
　　<%= link_to "中央区", city_property_path("tyu-o") %>
　　<%= link_to "港区", city_property_path("minato") %>
　　<%= link_to "練馬区", city_property_path("nerima") %>
　　<%= link_to "板橋区", city_property_path("itabashi") %>
　　<%= link_to "台東区", city_property_path("taito") %>
　　<%= link_to "江東区", city_property_path("koto") %>
　　<%= link_to "葛飾区", city_property_path("katsushika") %>
　　<%= link_to "目黒区", city_property_path("meguro") %>
　　<%= link_to "大田区", city_property_path("o-ta") %>
　　<%= link_to "足立区", city_property_path("adati") %><br>
　　<%= link_to "中野区", city_property_path("nakano") %>
　　<%= link_to "江戸川区", city_property_path("edogawa") %>
　　<%= link_to "文京区", city_property_path("bunkyo") %>
　　<%= link_to "世田谷区", city_property_path("setagaya") %>
　　<%= link_to "杉並区", city_property_path("suginami") %>
　　<%= link_to "北区", city_property_path("kita") %>
　　<%= link_to "荒川区", city_property_path("arakawa") %>
　　<%= link_to "墨田区", city_property_path("sumida") %>
  </div><br>
  
