<div class="container">

<h1>GET MONSTER! </h1>
<p><%= @user.name %>さんのページ</p>


<%#= form_tag properties_path, :method => 'get' do %>
  
      <%#= text_field_tag :search, params[:search], placeholder: "半角スペースで入力　例: ピカチュウ 4LDK", :size=>"60" %>
      <%#= number_field_tag :rent, params[:rent] %>
  
    <%#= submit_tag "Search", :name => nil, class: 'btn btn-primary' %>
    
<%# end %>

<%= search_form_for @q, url: properties_path, html: { method: :get } do |f| %>

  <%= f.label :name %><br>
  <%= f.search_field :name_cont, placeholder: "例：千代田区役所" %><br>
  
  <%= f.label :city %><br>
  <%= f.select :city_cont, Property.cities.keys.map {|k| [k, k]} %><br>
  
  <%= f.label :town %><br>
  <%= f.search_field :town_cont, placeholder: "例：六本木" %><br>
  
  <%= f.label :floor_plan %><br>
  <%= f.select :floor_plan_cont, Property.floor_plans.keys.map {|k| [k, k]} %><br>
  
  <%= f.label :floor_space %><br>
  <%= f.search_field :floor_space_cont, placeholder: "例：120" %><br>
  
  <%= f.label :encount_monster %><br>
  <%= f.search_field :encount_monster_cont, placeholder: "例：ピカチュウ" %><br>
  
  <%= f.label :stop_count_gteq, "ポケストップの数" %><br>
  <%= f.search_field :stop_count_gteq %>コ
  
  <%= f.label :stop_count_lteq, " ~ " %>
  <%= f.search_field :stop_count_lteq %>コ<br>
  
  <%= f.label :rent_gteq, "家賃" %><br>
  <%= f.search_field :rent_gteq %>円

  
  <%= f.label :rent_lteq, " ~ " %>
  <%= f.search_field :rent_lteq %>円<br>
  
  <%= f.submit %>
<% end %>

<p>エリアから絞り込む</p>
  <div class="user-panel">
　　<%= link_to "渋谷区", city_property_path("shibuya") %>
　　<%= link_to "千代田区", city_property_path("tiyoda") %>
　　<%= link_to '新宿区', city_property_path("shinjyuku") %>
　　<%= link_to "豊島区", city_property_path("toshima") %>
　　<%= link_to "品川区", city_property_path("sinagawa") %>
　　<%= link_to "中央区", city_property_path("tyu-o") %>
　　<%= link_to "港区", city_property_path("minato") %>
　　<%= link_to "練馬区", city_property_path("nerima") %>
　　<%= link_to "板橋区", city_property_path("itabashi") %>
　　<%= link_to "台東区", city_property_path("taito") %>
　　<%= link_to "江東区", city_property_path("koto") %>
　　<%= link_to "葛飾区", city_property_path("katsushika") %>
　　<%= link_to "目黒区", city_property_path("meguro") %>
　　<%= link_to "大田区", city_property_path("o-ta") %>
　　<%= link_to "足立区", city_property_path("adati") %><br>
　　<%= link_to "中野区", city_property_path("nakano") %>
　　<%= link_to "江戸川区", city_property_path("edogawa") %>
　　<%= link_to "文京区", city_property_path("bunkyo") %>
　　<%= link_to "世田谷区", city_property_path("setagaya") %>
　　<%= link_to "杉並区", city_property_path("suginami") %>
　　<%= link_to "北区", city_property_path("kita") %>
　　<%= link_to "荒川区", city_property_path("arakawa") %>
　　<%= link_to "墨田区", city_property_path("sumida") %>
  </div><br>