<h1>物件一覧</h1>

<p><%= notice %></p>

<%= link_to '新しく物件を投稿する', new_property_path %>

<%= form_tag properties_path, :method => 'get' do %> <%#　projects_pathはモデル名で読みかえること %>
      <p>
       物件検索 <%= text_field_tag :search, params[:search] %>
        <%= submit_tag "Search", :name => nil %>
      </p>
    <% end %>



<% @properties.each do |property| %>
  
    <h2>物件名  <%= property.name %></h2>
    <br>
    <div>住所 〒<%= property.postful_code %>
      -<%= property.postful_code_after %>
      東京都<%= property.city %>区
      <%= property.town %>
      <%= property.adress %>丁目
      <%= property.after_adress %>
    </div>
    <br>
    <div>築年数 <%= property.property_age%>年</div>
    <div>家賃 <%= property.rent%>円</div>
    <div>広さ <%= property.floor_space%></div>
    <div>間取り <%= property.floor_plan %></div>
    <div>ポケストップの数 <%= property.stop_count %></div>
    <div>ポケストップの場所 <%= property.stop_adress %></div>
    <div>出現するポケモン <%= property.encount_monster %></div>
    
    <div>
      <%= link_to '詳細を確認する', property_path(property.id) %>
    　<%= link_to "物件を編集する", edit_property_path(property.id) %>
    　<%= link_to '物件を削除する', property_path(property.id), method: :delete ,data: { confirm: '本当に削除していいですか？' } %>
    </div>
    
  
<% end %>