<div class="container">

<h1>物件詳細画面</h1>

<%= form_with(model: @property, local: true) do |form| %>
  
<h2>物件名  <%= @property.name %></h2>
    <br>
    
    <strong></strong>
    <div class="slider">
     <% @property.images.each do |images| %>
       <%= image_tag images.url %>
     <% end %>
    </div>
    <div>住所 〒<%= @property.postful_code %>-
      <%= @property.postful_code_after %>
      <%= @property.city %>区
      <%= @property.town %>
      <%= @property.after_adress %>
    </div>
    <br>
    <div>築年数 <%= @property.property_age%>年</div>
    <div>家賃 <%= @property.rent%>円</div>
    <div>広さ <%= @property.floor_space%></div>
    <div>間取り <%= @property.floor_plan %></div>
    <div>ポケストップの数 <%= @property.stop_count %>コ</div>
    <div>ポケストップの場所 <%= @property.stop_adress %></div>
    <div>出現するポケモン <%= @property.encount_monster %></div>
    
    
    
<div> 
  <% if @favorite.present? %>
    <%= link_to 'いいね！解除する', favorite_path(id: @favorite.id), method: :delete, class: 'btn btn-danger' %>
  <% else %>
    <%= link_to 'お気に入りする', favorites_path(properties_id: @property.id), method: :post, class: 'btn btn-primary' %>
  <% end %>
  <%= link_to 'お問い合わせする', new_property_contact_path(@property) %>
</div>

<div>
  <h1>付近で捕まえたポケモン</h1>
    <% @report.reverse_each do |report| %>
      <div>
        <h2>捕まえたポケモン：<%= report.title %></h2>
        <p><%= report.content %></p>
      </div>
      <div>
        捕まえた場所：東京都<%= report.city %>区
        <%= report.town %>町
        <%= report.adress %>丁目
      </div>
      <div>
       <strong></strong>
          <% if report.image.url.present? %>
            <%= image_tag report.image.url %>
          <% end %>
    </div>
    <% end %>
</div>

<% end %>
</div>