<h3>以下の内容で、送信する。</h3>

<%= form_with(model: @property, url: admin_properties_path, local: true) do |form| %>
  <%= form.hidden_field :name %>
  <%= form.hidden_field :postful_code %>
  <%= form.hidden_field :postful_code_after %>
  <%= form.hidden_field :city %>
　<%= form.hidden_field :town %>
　<%= form.hidden_field :after_adress %>
　<%= form.hidden_field :property_age %>
　<%= form.hidden_field :rent %>
　<%= form.hidden_field :floor_space %>
　<%= form.hidden_field :floor_plan %>
　<%= form.hidden_field :encount_monster %>
　<%= form.hidden_field :stop_count %>
　<%= form.hidden_field :stop_adress %>
　<%= form.hidden_field :images %>
　<%= form.hidden_field :images_cache %>
　
 <h2>物件名  <%= @property.name %></h2>
    <br>
    <div>
    <strong></strong>
     <% @property.images.reverse_each do |images| %>
       <%= image_tag images.url %>
     <% end %>
    </div>
    <div>住所 〒<%= @property.postful_code %>
      -<%= @property.postful_code_after %>
      東京都<%= @property.city %>区
      <%= @property.town %>
      <%= @property.after_adress %>
    </div>
    <br>
    <div>築年数 <%= @property.property_age%>年</div>
    <div>家賃 <%= @property.rent%>円</div>
    <div>広さ <%= @property.floor_space%></div>
    <div>間取り <%= @property.floor_plan %></div>
    <div>ポケストップの数 <%= @property.stop_count %></div>
    <div>ポケストップの場所 <%= @property.stop_adress %></div>
    <div>出現するポケモン <%= @property.encount_monster %></div>
    
  
   <%= form.submit  "登録する" %>
   <% end %>
   
   <%= form_with(model: @property, url: new_admin_property_path, local: true, method: 'get') do |form| %>
     <%= form.hidden_field :name %>
     <%= form.hidden_field :postful_code %>
     <%= form.hidden_field :postful_code_after %>
     <%= form.hidden_field :city %>
　   <%= form.hidden_field :town %>
　   <%= form.hidden_field :after_adress %>
　   <%= form.hidden_field :property_age %>
　   <%= form.hidden_field :rent %>
　   <%= form.hidden_field :floor_space %>
　   <%= form.hidden_field :floor_plan %>
　   <%= form.hidden_field :encount_monster %>
　   <%= form.hidden_field :stop_count %>
　   <%= form.hidden_field :stop_adress %>
   　<%= form.hidden_field :images %>
　   <%= form.hidden_field :images_cache %>
  <%= form.submit "もどる", name: 'back' %>

<% end %>