<h3>以下の内容で、送信する。</h3>

<%= form_with(model: @property, url: properties_path, local: true) do |form| %>
  <%= form.hidden_field :name %>
  <%= form.hidden_field :postful_code %>
  <%= form.hidden_field :postful_code_after %>
  <%= form.hidden_field :city %>
　<%= form.hidden_field :town %>
　<%= form.hidden_field :adress %>
　<%= form.hidden_field :after_adress %>
　<%= form.hidden_field :property_age %>
　<%= form.hidden_field :rent %>
　<%= form.hidden_field :floor_space %>
　<%= form.hidden_field :floor_plan %>
　<%= form.hidden_field :encount_monster %>
　<%= form.hidden_field :stop_count %>
　<%= form.hidden_field :stop_adress %>
　<%= form.hidden_field :image %>
　
 <div class="property_name">
    <%= form.label :物件名 %>
    <%= form.text_field :name %>
  </div>
  <br>
  <div class="postful_code">
    <%= form.label :郵便番号 %>
    〒<%= form.text_field :postful_code %>
    -<%= form.text_field :postful_code_after %>
 
     東京都<%= form.text_field :city %>区
  
    
    <%= form.text_field :town %>町
 
    
    <%= form.text_field :adress %>丁目
 
    
    <%= form.text_field :after_adress %>
  </div>
  <br>
  <div class="property_age">
    <%= form.label :築年数 %>
    築<%= form.text_field :property_age %>年
  </div>
  <div class="property_rent">
    <%= form.label :家賃 %>
    <%= form.text_field :rent %>円
  </div>
  <div class="property_floor_space">
    <%= form.label :広さ %>
    <%= form.text_field :floor_space %>
  </div>
  <div class="property_floor_plan">
    <%= form.label :間取り %>
    <%= form.text_field :floor_plan %>
  </div>
  <div class="property_encount_monster">
    <%= form.label :出現するポケモン %>
    <%= form.text_field :encount_monster %>
  </div>
  <div class="property_stop_count">
    <%= form.label :ポケストップの数 %>
    <%= form.text_field :stop_count %>
  </div>
  <div class="property_stop_adress">
    <%= form.label :ポケストップの場所 %>
    <%= form.text_field :stop_adress %>
  </div>
  <div class="field">
    <%= form.label :物件の画像 %>
    <%= form.file_field :image %>
  </div>
  
   <%= form.submit  "登録する" %>
<% end %>