<div class="container">

<h1>物件一覧</h1>

<%= link_to '新しく物件を投稿する', new_admin_property_path %>

<% @properties.reverse_each do |property| %>
  
    <h2>物件名  <%= property.name %></h2>
    <br>
    <div>
    <strong></strong>
    
     <% property.images.reverse_each do |images| %>
       <%= image_tag images.url %>
   
     <% end %>
    </div>
    <div>住所 〒<%= property.postful_code %>
      -<%= property.postful_code_after %>
      東京都<%= property.city %>区
      <%= property.town %>
      <%= property.after_adress %>
    </div>
    <br>
    <div>築年数 <%= property.property_age%>年</div>
    <div>家賃 <%= property.rent%>円</div>
    <div>広さ <%= property.floor_space%></div>
    <div>間取り <%= property.floor_plan %></div>
    <div>ポケストップの数 <%= property.stop_count %></div>
    <div>ポケストップの場所 <%= property.stop_adress %></div>
    <div>出現するポケモン <%= property.encount_monster %></div>
    
    <div>
      <%= link_to '詳細を確認する', admin_property_path(property.id) %>
        <% if property.user == current_user %>
    　     <%= link_to "物件を編集する", edit_admin_property_path(property.id) %>
       　  <%= link_to '物件を削除する', property_path(property.id), method: :delete ,data: { confirm: '本当に削除していいですか？' } %>
        <% end %>
    </div>
    
<% end %> 
</div>

