<h1>物件詳細画面</h1>

<h2>物件名  <%= @property.name %></h2>
    <br>
    <div>
    <strong></strong>
      <%= image_tag @property.image.url %>
  </div>
    <div>住所 〒<%= @property.postful_code %>-
      <%= @property.postful_code_after %>
      <%= @property.city %>区
      <%= @property.town %>
      <%= @property.adress %>丁目
      <%= @property.after_adress %>
    </div>
    <br>
    <div>築年数 <%= @property.property_age%>年</div>
    <div>家賃 <%= @property.rent%>円</div>
    <div>広さ <%= @property.floor_space%></div>
    <div>間取り <%= @property.floor_plan %></div>
    <div>ポケストップの数 <%= @property.stop_count %></div>
    <div>ポケストップの場所 <%= @property.stop_adress %></div>
    <div>出現するポケモン <%= @property.encount_monster %></div>