<div class="container">

<h1>GET報告</h1>

<% if @report.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@report.errors.count, "件") %> のエラーがあります</h2>
    <ul>
    <% @report.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
    </ul>
  </div>
<% end %>


<%= form_with(model: @report, local: true) do |form| %>
  
  <div class="report_title">
    <%= form.label :捕まえたポケモン %><br>
    <%= form.text_field :title %>
  </div><br>
  <div class="report_city">
    東京都<%= select :city,:name,Property.cities.keys.to_a %>区
      <%= form.text_field :town %>町
      <%= form.text_field :adress %>丁目
  </div>
  <div class="report_content">
    <%= form.label :本文 %><br>
    <%= form.text_field :content, :size=>"100" %>
  </div><br>
  
  <div class="field">
    <%= form.label :ポケモンの画像 %>
    <%= form.file_field :image, class: 'file_field' %>
</div>
  <br><%= form.submit "投稿する", class: 'btn btn-primary'%>
<% end %>
</div>