<h1>GET報告</h1>


<%= form_with(model: @report) do |form| %>
  <div class="report_title">
    <%= form.label :捕まえたポケモン %><br>
    <%= form.text_field :title %>
  </div>
  <div class="report_content">
    <%= form.label :本文 %><br>
    <%= form.text_field :content %>
  </div><br>
  <div class="report_city">
    
    東京都<%= select :city,:name,Report.cities.keys.to_a %>区
  
    
    <%= form.text_field :town %>町
  
    
    <%= form.text_field :adress %>丁目
  </div><br>
  <div class="field">
    <%= form.label :ポケモンの画像 %>
    <%= form.file_field :image %>
</div>
  <%= form.submit %>
<% end %>