<!DOCTYPE html>
<html>
  <head>
    <title>Monster</title>
      <%= csrf_meta_tags %>
      <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
      <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
      <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
      <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
  </head>

  <body>
    
    <header>
    <ul>
      <% if logged_in? %>
        <li><%= link_to "マイページ", user_path(current_user.id) %></li>
        <li><%= link_to "ログアウト", session_path(current_user.id), method: :delete %></li>
        <li><%= link_to "お気に入り一覧", favorites_path %></li>
        <li><%= link_to "プロフィール編集", edit_user_path(current_user.id) %></li>
        <li><%= link_to "GET一覧", reports_path %></li>
        <li><%= link_to 'GET報告', new_report_path %></li>
        <li><%= link_to "新着物件", properties_path %></li>
      <% else %>
        <li><%= link_to "サインアップ", new_user_path %></li>
        <li><%= link_to "ログイン", new_session_path %></li>
      <% end %>
    </ur>
  </header>
  
     <% flash.each do |key, value| %>
      <%= content_tag(:div, value, class: "#{key}") %>
    <% end %>
    


    <%= yield %>
    
    
  
  </body>
</html>